*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    max-width: 100%;
    margin: 0;
    padding: 0;
} 
body{
    max-width: 100%;
    width: 100% ;
    overflow-x: hidden;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    /* display: flex;
    flex-direction: column; */
}
section{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    padding: 20px 5%;
    background-color:rgba(255, 255, 255, 0.8);
    box-shadow:0 2px 8px rgba(0,0,0,0.1) ;
}
.background-white{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px; 
    background-color: white;
    z-index: 2;
}
.background{
    position: relative;
    width: 100%;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    object-fit: cover;
}
.background::before {
    content: "";
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.2); 
    z-index: 0;
}
.arrow-up{
   z-index: 999;
   position: fixed;
   bottom: 40px;
   right: 40px;
   width: 40px;
   height: 40px;
   background-color: #F77E23;
   color: #fff;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   cursor: pointer;
   transition: transform 0.3s ;
   font-size: 1.5em;
}
.arrow-up:hover{
    transform: scale(1.1);
    background-color: #ff914d;
}
.navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.left-section{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo{
    font-size: 30px;
    font-weight:600;
    background:#F77E23 ;
    background-clip: text;
    color: transparent;
}
.bars{
    display: none;
}
.user{
    display: none;
}
.nav-menu{
    font-family: "Bitter", serif;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
    position: relative;

}
.nav-menu li {
    display: inline-block;
    position: relative;
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
nav a{
    font-weight:500 ;
    margin: 0 12px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav-menu ul li a::after {
content: "";
position: absolute;
width: 0%;
height: 2px;
left: 50%;
bottom: -4px;
background-color: #F77E23;
transform: translateX(-50%);
transform-origin: center;
transition: width 0.3s ease;
}
.nav-menu ul li a:hover{
    transform: scale(1.05);
}
.nav-menu ul li a:hover::after{
    width: 100%;
}
.header-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-icons i {
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3;
}
.header-icons i:hover{
    color: #F77E23;
}
button{
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: 600 ;
    cursor: pointer;
    transition: background-color 0.3s;
}
.login-btn{
    background-color: transparent;
    color: #ffffff;
}
.register-btn{
    background-color: #fff;
    color: #F77E23;
    position: relative;

}
.register-btn:hover{
    background-color: #F77E23;
    color: #fff;
}
.content{
    position: relative;
    text-align: center;
    color: #fff;
    padding: 20px;
    z-index: 2;
    /* top: 50px; */

}
.content h1{
    font-family: "Roboto", sans-serif;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
}
.content p{
    font-size: 1.8em;
    margin-bottom: 30px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Saira Condensed", sans-serif;   
}
.cta-button{
    display: inline-block;
    background-color: #F77E23;
    color: #fff;
    padding: 16px 40px;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ;
    cursor: pointer;
}
.cta-button:hover{
    background-color: #fff;
    color: #F77E23;
}
.icon-container{
    height: 120px;
    width: 900px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: none; 
    top: 0px;
    flex-wrap: wrap;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.icon-item{
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
.icon{
    font-size: 1.5em;
    color: #F77E23;
    width: 60px;
    height: 60px;
    background: #FFE7DB;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    
}
.icon-item span{
    font-size: 1.3em;
    color: #333;
    font-weight: 100;
    font-family: "Quicksand", sans-serif;
}
.categories{
    width: 100%;
    max-width: 200%;
    height: auto;
    z-index: 1;
    position: absolute;
    padding: 100px;
    background: #fff;
    margin-top: 20px;
}
.category-wrapper{
    position: relative;
    width: 100%;
}
.categories-header{
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    padding: 0 20px;
}
.top-categories{
    margin-top: 0 !important;
    font-size: 3em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Fjalla One", sans-serif;
}
.see-all{
    font-family: "Cormorant Garamond", serif;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 5;
    color: #F77E23;
    text-decoration: none;
    font-weight: 600;
    padding: 0 0px;
    background:#ffffff00;
}
.category-section{
    position: relative;
    justify-items: center;
}
.category-grid{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    overflow-x: autoq;
}
.category-card{
    position: relative;
    width: 320px;
    height: 490px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
}
.category-card img{
    height: 490px;
    width: 100%;
    object-fit: cover;
    display: block;
   
}
.category-card .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Tăng độ tối mờ */
    z-index: 1;
}
.category-card p {
    color: #fff;
    margin: 0;
    padding: 10px 15px;
    position: absolute;
    font-size: 1.2em;
    font-weight: 600;
    text-align: left;
    bottom: 10px;
    left: 10px;
    z-index: 2;
}
.category-card:hover{
    transform: translateY(-5px);
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #F77E23;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    font-size: 1.2rem;
}
.left{
    left: 20px;
}
.right{
    right: 20px;
}
.arrow:hover{
    background-color: #ff914d;
}
@media (max-width: 1440px) {
.category-grid{
    align-items: center;
    flex-wrap: wrap;
}
.category-card{
    width: 290px;
    height: 380x;
}
}
@media (max-width: 1059px) {
.category-grid{
    align-items: center;
    flex-wrap: wrap;
}
.category-card{
    width: 180px;
    height: 380x;
}
}
@media (max-width: 1024px) {
.category-grid{
    align-items: center;
    flex-wrap: wrap;
}
.category-card{
    width: 180px;
    height: 300px;
}
}
@media (max-width: 992px) {
.category-grid{
    align-items: center;
    flex-wrap: wrap;
}
.category-card{
    width: 180px;
    height: 300px;
}
}
@media (max-width: 970px) {
.category-grid{
    align-items: center;
    flex-wrap: wrap;
}
.category-card{
    width: 150px;
    height: 300px;
}
}
@media (max-width: 979px) {
.category-grid{
    align-items: center;
    flex-wrap: wrap;
}
.category-card{
    width: 150px;
    height: 300px;
}
}
@media (max-width: 930px) {
.category-grid{
    align-items: center;
    flex-wrap: wrap;
}
.category-card{
    width: 150px;
    height: 260px;
}
}
@media (max-width: 768px ){
  ul li {
    padding-top: 20px ;
    display: flex;
    align-items: flex-start;
   } 
   .content h1{
    font-size: 3em ;
    margin-bottom: 15px;
   }
   .content p{
    font-size: 1.4em;
   }
   .categories{
    width: 120%;
   }
    .background{
        width: 120%;
    }
    .categorie{
        width: 120%;
    }
    .category-grid{
        align-items: center;
        flex-wrap: wrap;
    }
    .category-card{
        width: 165px;
        height: 250px;
    }
}
@media (max-width: 425px){
    header .header-icons,
    .nav-menu
    {
      display: none;
    }
    .navbar{
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      gap: 10px;
    } 
    .bars{
        font-size: 30px;
        display: block;
        color: #F77E23;
    }
    .user{
        display: block;
        color: #F77E23;
        font-size: 30px;

    }
    .categories{
        width: 200%;
       }
     .background{
            width: 220%;
        }
    .category-wrapper{
        width: 110%
    }
     .categorie{
            width: 250%;
        }
     .category-grid{
            align-items: center;
            flex-wrap: wrap;
        }
    .category-card{
            width: 146px;
            height: 250px;
        }
}
@media (max-width: 375px){
    .categories{
        justify-items: center;
        position: absolute;
        padding: 0px 0px;
        width:500% ;
        align-items: center;
       }
        .background{
            width: 270%;
        }
        .categorie{
            width: 900%;
        }
        .category-grid{
            align-items: center;
            flex-wrap: wrap;
        }
        .category-card{
            width: 146px;
            height: 250px;
        }
}